<%- include('partials/head') %>
	<body>
		<!--h1>Hola desde la vista <%= tituloDePagina %> en EJS!</h1-->
		<h2>Modificar el Item</h2>
		<article>
			<h4>Nombre Producto</h4>
			<h4>Descripción</h4>
			<h4>Precio</h4>
            <h4>Tipo de Producto</h4>
			<h4>Marca</h4>
		</article>
		<form action="/modificar?_metodo=PUT" method="POST">
			<input type="text" name="nombre" value="<%= registro.nombre %>">
			<input type="text" name="descripcion" value="<%= registro.descripcion %>">
			<input type="number" name="precio" value="<%= registro.precio %>">
			<input type="number" name="tipoProducto" value="<%= registro.id_tipoProducto %>">
			<input type="number" name="marca" value="<%= registro.id_marca %>">
			<input type="hidden" name="idMod" value="<%= registro.id %>"><br>
			<input type="submit" value="Actualizar">
		</form>
<%- include('partials/footer') %>